/**
This website is built with all the love in the World by @MarcoMorawec
**/
body {
  background: url(../img/background/cbckg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;

}


.header {
	
}

 /*.navbar-inner1 {
 	box-shadow: none;
 	border: 0;
 	background-color: rgba(255,255,255,.4);
 }*/


.sidebar-line {
	float: left;
	width: 100px;
	height: 800px;
 	background-color: #3BA2CF;	
}

.sidebar-plus{
	text-align: center;
}
.sidebar-plus .icon-plus-sign {
	text-decoration: none;
}

.clear-box {
	background-color: rgba(36, 32, 33, 0.5);
    box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
    padding: 1%;
    margin-top: 30px;
}
.clear-box-intro {
	background-color: rgba(36, 32, 33, 0.8);
    box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
    padding: 1%;
    margin-top: 30px;
}

.sidebarmenu a {
	color: white;
}

/*FONTS and TEXT Styling*/

.custom-nav-font {
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 30px;
    font-weight: 100;
    color: white;
    letter-spacing: 1.2px;
    line-height: 100%;
}

.custom-nav-font-links {
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 24px;
    font-weight: 100;
    color: white;
    letter-spacing: 1.2px;
    line-height: 100%;
}
.custom-h1 {
 	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 54px;
    font-weight: 100;
    color: white;
    letter-spacing: 3.5px;
    line-height: 100%;
}

.custom-h3 {
	font-size: 18px;
	letter-spacing: 3.8px;
	color: black;
	font-family: Oxygen;
}

.custom-intro {
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 22px;
    font-weight: 300;
    color: white;
    letter-spacing: 1.0px;
    line-height: 100%;
}
.no-decoration-nav a {
	color: white;
}
.no-decoration-nav a:hover {
	text-decoration: none;
}

.no-decoration a:hover {
	text-decoration: none;
}

