/**
This website is built with all the love in the World by @MarcoMorawec
**/
body {
  font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;

}

/*BACKGROUNDS*/

.index-backgroun {
	background: url(../img/background/cbckg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.header {
	
}

 /*.navbar-inner1 {
 	box-shadow: none;
 	border: 0;
 	background-color: rgba(255,255,255,.4);
 }*/


.sidebar-line {
	float: left;
	width: 72px;
	height: 700px;
	position: absolute;
 	background-color: #3BA2CF;	
}

.sidebar-plus{
	padding: 2px;
}
.sidebar-plus .icon-plus-sign {
	text-decoration: none;
}

.clear-box {
	background-color: rgba(36, 32, 33, 0.5);
    box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
    padding: 1%;
    margin-top: 120px;
}
.clear-box-intro {
	background-color: rgba(36, 32, 33, 0.8);
    box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
    padding: 1%;
    margin-top: 30px;
}
.clear-box-stuff {
	background-color: rgba(36, 32, 33, 0.8);
    box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
    padding: 1%;
}

.sidebarmenu a {
	color: white;
}

/*THUMBNAILS*/

.thumbs {
	margin-top: 60px;
	margin-left: 120px;
}

.stuff-caption h3 {
	color: white;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
	font-size: 30px;
    font-weight: 100;
    color: white;
    letter-spacing: 1.2px;
    line-height: 100%;
}
.stuff-caption p {
	color: white;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
	font-size: 20px;
    font-weight: 100;
    color: white;
    letter-spacing: 1.2px;
    line-height: 100%;
}
@media only screen and (min-width : 1224px) {
	.pull-up {
		margin-top: -35%;
	}
}
@media only screen and (min-width : 1224px) {
	.push-down {
		margin-bottom: 35%;
	}
}

/*FONTS and TEXT Styling*/

.custom-nav-font {
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 30px;
    font-weight: 100;
    color: white;
    letter-spacing: 1.2px;
    line-height: 100%;
}

.custom-nav-font-links {
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 24px;
    font-weight: 100;
    color: white;
    letter-spacing: 1.2px;
    line-height: 100%;
}
.custom-h1 {
 	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 54px;
    font-weight: 100;
    color: white;
    letter-spacing: 3.5px;
    line-height: 100%;
}

.custom-h3 {
	font-size: 18px;
	letter-spacing: 3.8px;
	color: black;
	font-family: Oxygen;
}

.custom-intro {
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 22px;
    font-weight: 300;
    color: white;
    letter-spacing: 1.0px;
    line-height: 100%;
}
.no-decoration-nav a {
	color: white;
}
.no-decoration-nav a:hover {
	text-decoration: none;
}

.no-decoration a:hover {
	text-decoration: none;
}

